@import "../../styles/variables.scss";

.product__page__container {
    width: 77%;
    height: 100%;
    min-height: 80vh;
    padding: 20px;
    border-radius: 30px 0 0 0;
    background-color: $main-grey-bg;
}

.product__container {
    width: 100%;
    height: 100vmin;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
}

.breadcrumb {
    color: $grey-font;
}

.breadcrumb > span {
    color: $primary-green-color;
}

.product__title {
    margin: 15px 0;
    color: $main-bg-color;
}

.product__info__wrapper {
    width: 100%;
    height: 500px;
    align-items: flex-start;
    background-color: transparent;
}

.product__img__container {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-right: 15px;
    height: 100%;
}

.labels__container {
    position: absolute;
    top: 15px;
    left: 15px;
}

.product__img__container > .product__img {
    width: 100%;
    height: 100%;
    background-color: $main-grey-bg;
    border-radius: 20px;
    object-fit: cover;
}

.product__info {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 400px;
}

.info {
    margin: 0 0 15px 0;
    padding:0px 0 10px 0;
    border-bottom: 1px solid #ddd;
}

.plans {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: red;
    border-radius: 6px;
}

.plan__btn {
    cursor: pointer;
    color: $primary-green-color;
    border: 1px solid $primary-green-color;
}

.info > p {
    color: $grey-font;
    margin-bottom: 10px;
}

.active__btn {
    background-color: $primary-green-color;
    color: #fff;
}



.plan__btn:first-child {
    border-radius: 6px 0 0 6px;
}

.plan__btn:last-child {
    border-radius: 0 6px 6px 0;
}

.markup {
    margin-top: 10px;
    text-align: center;
}


.info__collection {
    font-size: 13px;
    list-style-type: none;
    margin-bottom: 10px;
}

.info > a {
    color: $primary-green-color;
    text-decoration: none;
}

.label__button {
    width: 100px;
    height: 30px;
    display: grid;
    place-items: center;
    background-color: #FF647C;
    border-radius: 8px;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .product__info__wrapper {
        width: 100%;
        height: 100%;
        flex-direction: column !important;
        justify-content: start;
    }
    
    .product__page__container {
        overflow-y: hidden;
    } 

    .product__img__container {
        height: 300px;
    }

    .product__img__container > .product__img {
        object-fit: contain;
    }

    .product__info, .product__img__container {
        max-width: 100%;
    }
}


