@import "../../styles/variables.scss";

.sidebar {
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background-color: $main-bg-color;
  border-radius: 0 30px 0 0;
  position: sticky;
  top: 0;
  // transform: translateY(60px);
  padding: 50px 0 0 50px;
  z-index: 999;
}

.sidebar__links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sidebar__link {
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  justify-content: start;
  margin: 10px 0;
}

.sidebar__link > span {
  font-size: 25px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  margin-right: 10px;
}
.active__link {
  color: $main-bg-color;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}
